html   
    head
        title= "Peli final"
    body
        div
            h1=mensaje
            div
            p El titulo de la película es  
                span=tituloPeli
            div
            p El año de la película es 
                span=epocaPeli
            div
            p El género de la película es 
                span=generoPeli
            div
            p El director de la pelicula es  
                span=peliDirector
            div
            p Los actores protagonistas son 
                span=actorPeli
            div
            img(src=Poster, alt="Poster película")
            div 
            input(type="button", value="Guardar", id="btnFavorito")
    script(src="/script2.js") 
